{% extends 'base.html' %}
{% block script_block %}
<script>
function fun()
{
if (document.getElementById("most").value=="农业银行")
  {
  document.getElementById("Q2div").hidden="hidden"
  }
else
  {
  document.getElementById("Q2div").hidden=""
  }
}
</script>
{% endblock %}
{% block body_block %}
<div class="container" >
  <div class="page-header"><h1>华贸智付通客户问卷调查</h1>
  <p hidden="hidden">created by 江寒波</p>
  </div>
  <div class="row"><h3>客户基本信息</h3>
    <div class="col-md-4">编号：{{ SN }}</div>
    <div class="col-md-4">商户名称：{{ m_name }}</div>
    <div class="col-md-4">商户地址：{{ m_address }}</div>
    <div class="col-md-4">商户联系电话：{{ m_phone }}</div>
    <div class="col-md-4">商户智付通版本：{{ ver }}</div>
    <div class="col-md-4">是否开通跨行：{{ isoverbank }}</div>
    <div class="col-md-4">是否开通贷记卡：{{ iscredit }}</div>
    <div class="col-md-4">是否大额报备：{{ isbaobei }}</div>
    <div class="col-md-4">是否2015年低效、无效户：{{ islow }}</div>
  </div><br />
  <div class="row"><h3>问卷</h3></div>
  <p>
  <div>
<form action="/survey/done/" method="get" >
<div class="form-horizontal">
  <div class="form-control-static" {{ isver }}><label for="Qversion">为何未迁移总行版：</label><input id="Qversion" name="Qversion" type="text" class="form-control" /></div>
  <div class="form-control-static" {{ isoverbankhidden }}><label for="Qoverbank">为何未开通跨行：</label><input id="Qoverbank" name="Qoverbank" type="text" class="form-control" /></div>
  <div class="form-control-static"{{ iscredithidden }}><label for="Qcredit">为何未开通贷记卡：</label><input id="Qcredit" name="Qcredit" type="text" class="form-control" /></div>
<div class="form-control-static"{{ isbaobeihidden }}><label for="Qbaobei">为何未报备：</label><input id="Qbaobei" name="Qbaobei" type="text" class="form-control" /></div>
</div>
<div >
<label for="most">最常用的机具是哪家银行：</label>
<select id="most" name="most" class="form-control" onchange="fun()" >
  <option value="农业银行">农业银行</option>
  <option value="工商银行">工商银行</option>
  <option value="中国银行">中国银行</option>
  <option value="建设银行">建设银行</option>
  <option value="交通银行">交通银行</option>
  <option value="华夏银行">华夏银行</option>
  <option value="中信银行">中信银行</option>
  <option value="民生银行">民生银行</option>
  <option value="兴业银行">兴业银行</option>
  <option value="招商银行">招商银行</option>
  <option value="平安银行">平安银行</option>
  <option value="杭州银行">杭州银行</option>
  <option value="邮储银行">邮储银行</option>
</select>
</div>
<div id="Q2div" hidden="hidden">
<label for="Q2">不使用农行机具的主要原因：</label>
<div class="radio">
  <label>
    <input type="radio" name="Q2" value="A" id="Q2_0" />
    缺乏优惠力度</label>
  <label>
    <input type="radio" name="Q2" value="B" id="Q2_1" />
    操作不够便捷</label>
  <label>
    <input type="radio" name="Q2" value="C" id="Q2_2" />
    交易速度过慢</label>
  <label>
    <input type="radio" name="Q2" value="D" id="Q2_3" />
    报修响应不及时</label>
  <label>
    <input type="radio" name="Q2" value="E" id="Q2_4" />
    机具易损坏</label>
</div>
  <label>其他原因：
    <input type="text" name="Q2text" value="" id="Q2text" />
    </label>
</div>
<div>
<label for='hly'>是否愿意签约农行活利盈？</label>
<select name="hly">
  <option value="TRUE">是</option>
  <option value="FALSE">否</option>
</select>
</div>
<p><div>
<label>参加九堡支行华贸客户VIP计划</label>
<div class="row">
  <div class="col-md-4"><label>姓名：</label><input name="name" type="text" /></div>
  <div class="col-md-4"><label>性别：</label><select name="sex">
    <option value="M">男</option>
    <option value="F">女</option>
  </select></div>
  <div class="col-md-4"><label>手机号：</label><input name="phone" type="text" /></div>
</div>
<br />
<div align="center">
    <input hidden name="sn" value="{{ SN }}" TYPE="text"/>
<input type="submit" value="保存"  class="btn-lg"/>
    </form>
    </div>
{% endblock %}